@import 'variables.scss';
@import 'general.scss';
@import 'concept_image_animation.scss';



/*MOBILE*/
header {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    padding: 2rem 0;
    background-color: $darkest_blue;

    a {text-decoration: none;}

    hr {
        width: 90%;
        margin: 0 auto;
    }

   img {
       height: 45vh;
   }
}

.nav_section {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1rem 0;
    a{
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.08rem;
        font-weight: 600;
        font-size: 0.9rem;
        color: $light_gray;
        padding: 0.6rem;
        margin: 0.4rem 0;
        width: 80vw;
        transition: background-color 200ms ease-in-out;
        transition: color 200ms ease-in-out;
        border: solid $darkest_blue 5px;
    }


    a:hover {
        background-color: $darkest_blue;
        color: $gray;
    }
}

.uneven_section, .even_section {
    padding: 1rem 2vw;  
    ul {margin-left: 2.5rem;}
}
.uneven_section {background-color: $darker_blue;}
.even_section {background-color: $dark_blue;}


footer {
    display: flex;
    flex-direction: column;
    background-color: $darkest_blue;
    text-align: center;
    padding: 1rem 0;

    ul, li {list-style: none;}
    a, li {
        letter-spacing: 0.09rem;
        margin: 0.2rem;
    }

    p {
        margin: 0.6rem;
        color: $gray ;
    }
}




@media only screen and (min-width: 768px) {

    header {
        height: auto;
        padding-bottom: 0.6rem;

        img {height: 11vh;}
    }

    .nav_section {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0;
        text-align: center;
        align-items: center;
        background-color: $darkest_blue;
        padding: 0 14vw 0.7rem 14vw;
        justify-content: space-between;

        a {
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.08rem;
            font-weight: 600;
            font-size: 0.9rem;
            padding: 0rem;
            margin: 0;
            border-radius: 0;
            background: none !important;
            color: $light_gray;
            padding-top: 0.6rem;
            padding-bottom: 0.3rem;
            border: none;
            border-bottom: solid;
            border-color: $darkest_blue;
            border-width: 0.2rem;
            transition: color 200ms ease-in-out;
            transition: border-color 200ms ease-in-out;
        }
               
        
        a:hover {
            border-color: $gray;
            color: $gray;
        }

    }
    .uneven_section, .even_section {
        padding: 1rem 16vw;  
        ul {margin-left: 2.5rem;}
    }
    
    .images {margin-left: 3rem;}

}





