/*COLORS*/
/*SIZES*/
:root {
  --concept-image-height: 280px;
  --concept-image-format: calc(21 / 30);
  --concept-image-width: calc( var(--concept-image-height) * calc(var(--concept-image-format)) );
}

/*UNUSED*/
/*COLORS*/
/*SIZES*/
:root {
  --concept-image-height: 280px;
  --concept-image-format: calc(21 / 30);
  --concept-image-width: calc( var(--concept-image-height) * calc(var(--concept-image-format)) );
}

/*UNUSED*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #252530;
  color: lightgray;
  font-family: sans-serif;
}
body a {
  color: lightgray;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
}

h2 {
  font-size: 1rem;
  letter-spacing: 0.4rem;
  line-height: 2rem;
  text-transform: uppercase;
  font-weight: lighter;
}

h3 {
  font-size: 2rem;
  padding-bottom: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: lighter;
}

hr {
  margin-bottom: 1rem;
  width: 15%;
}

p {
  padding-bottom: 3px;
}

p, li {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 400;
  line-height: 1.4rem;
}

/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #252530;
  color: lightgray;
  font-family: sans-serif;
}
body a {
  color: lightgray;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
}

h2 {
  font-size: 1rem;
  letter-spacing: 0.4rem;
  line-height: 2rem;
  text-transform: uppercase;
  font-weight: lighter;
}

h3 {
  font-size: 2rem;
  padding-bottom: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: lighter;
}

hr {
  margin-bottom: 1rem;
  width: 15%;
}

p {
  padding-bottom: 3px;
}

p, li {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 400;
  line-height: 1.4rem;
}

/*MOBILE*/
header {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding: 2rem 0;
  background-color: #161626;
}
header a {
  text-decoration: none;
}
header hr {
  width: 90%;
  margin: 0 auto;
}

.nav_section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem 0;
}
.nav_section ul {
  list-style: none;
}
.nav_section a, .nav_section li {
  text-decoration: none;
  background-color: #718c69ff;
  padding: 0.6rem;
  margin: 1rem 8%;
  border-radius: 0.3rem;
}

.uneven_section, .even_section {
  padding: 1rem 1vw;
}

.uneven_section {
  background-color: #202028;
}

.even_section {
  background-color: #252530;
}

.images {
  height: 280px;
  margin-left: calc(calc(100% - var(--concept-image-width) ) / 2);
}

.images img {
  position: absolute;
  height: 280px;
  opacity: 0;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    display: block;
  }
  /** fadeIn beginnt            **/
  11.11% {
    opacity: 1;
  }
  /** Bild steht                **/
  22.22% {
    opacity: 1;
  }
  /** Bild bleibt zwei Sekunden **/
  33.33% {
    opacity: 0;
    display: none;
  }
  /** fadeOut beendet           **/
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    display: block;
  }
  /** fadeIn beginnt            **/
  11.11% {
    opacity: 1;
  }
  /** Bild steht                **/
  22.22% {
    opacity: 1;
  }
  /** Bild bleibt zwei Sekunden **/
  33.33% {
    opacity: 0;
    display: none;
  }
  /** fadeOut beendet           **/
  100% {
    opacity: 0;
  }
}
.images img:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.images img:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.images img:nth-child(3) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.images img:nth-child(4) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.images img:nth-child(5) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.images img:nth-child(6) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.cont_foot {
  width: 100%;
  background-color: orange;
}

/*CONTAINER LAYOUT*//*# sourceMappingURL=style.css.map */