@import 'variables.scss';
@import 'general.scss';
@import 'nav.scss';
@import 'concept_image_animation.scss';



/*MOBILE*/
header {
    display: flex;
    position: relative;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 0;
    height: 100vh;
    width: 100%;
    padding: 2rem 0;
    background-color: $color_background_header_footer;

    a {text-decoration: none;}

    hr {
        width: 90%;
        margin: 0 auto;
    }

   img {
       height: 45vh;
   }
}


#sections {
    position: absolute;
    width: 100%;
    top:100vh;
    z-index: 5;
    background-color: $color_background_body;
}
.uneven_section, .even_section {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 2rem 5vw;
    z-index: 10;
    justify-content: left;
    border-radius: 1.5rem;
    padding: 2rem;
    height: 100vh;
    //ul {margin-left: 2.5rem;}
}
.uneven_section {background-color: $color_secondary_background;}
.even_section {background-color: $color_secondary_background;}


footer {
    display: flex;
    flex-direction: column;
    background-color: $color_background_header_footer;
    text-align: center;
    padding: 1rem 0;

    ul, li {list-style: none;}
    a, li {
        letter-spacing: 0.09rem;
        margin: 0.2rem;
    }

    p {
        margin: 0.6rem;
        color: $gray ;
    }
}


@media only screen and (min-width: 768px) {

    header {
        height: auto;
        padding-bottom: 0.6rem;

        img {height: 11vh;}
    }


    .uneven_section, .even_section {
        padding: 1rem 8vw;  
        height: auto;
      //  ul {margin-left: 2.5rem;}
    }
    
    .images {margin-left: 3rem;}

}





