@import 'variables.scss';
@import 'general.scss';
/*GENERAL*/



*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: #252530;

    color: lightgray;
    a {color: lightgray;}

    font-family: sans-serif;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
}

h2 {
    font-size: 1rem;

    letter-spacing: 0.4rem;
    line-height: 2rem;
    text-transform: uppercase;
    font-weight: lighter;
}

h3 {
    font-size: 2rem;
    padding-bottom: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: lighter;
}

hr {
    margin-bottom: 1rem;
    width: 15%;
}

p {padding-bottom: 3px;}

p, li {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    font-weight: 400;
    line-height: 1.4rem;
}

/*MOBILE*/
header {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 2rem 0;
    background-color: $darkest_blue;

    a {text-decoration: none;}

    hr {
        width: 90%;
        margin: 0 auto;
    }
}

.nav_section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 0;
    ul {list-style: none;}
    a, li {
        text-decoration: none;
        background-color: $dark_green;
        padding: 0.6rem;
        margin: 1rem 8%;
        border-radius: 0.3rem;
    }


}

.uneven_section, .even_section {
    padding: 1rem 1vw;

    
}
.uneven_section {background-color: $darker_blue;}
.even_section {background-color: $dark_blue;}

.cont_foot {
    width: 100%;
    background-color: orange;
}




/*CONTAINER LAYOUT*/




