

@font-face {
    font-family: 'Quicksand';
    src: url("../src/Quicksand/Quicksand-Regular.ttf") format('truetype');
  }
  @font-face {
    font-family: 'Quicksand Bold';
    src: url("../src/Quicksand/Quicksand-Bold.ttf") format('truetype');
  }
/*COLORS*/

    //dark-theme
    $color_background_body: #000a12;
    $color_background_header_footer: #060e1b;
    $color_primary_background: #14171b;
    $color_secondary_background: #000a12;
    $color_primary_text: rgb(190, 190, 165);
    $color_secondary_text: #dddfa5ff;
    $color_primary_other: #161626;
    
    //light-theme
    @media (prefers-color-scheme: dark) {
        $color_background_body: #eef;
        $color_background_header_footer: #ddf;
        $color_primary_background: #d6d8eb;
        $color_secondary_background: #6aabe0;
        $color_primary_text: #222;
        $color_secondary_text: #718c69ff;
        $color_primary_other: #1a1e30;
    }
    

/*SIZES*/
    //scss variables dont work with calc() too well...
    :root{
        --concept-image-height: 280px;
        --concept-image-format: calc(21 / 30);
        --concept-image-width: calc( var(--concept-image-height) * calc(var(--concept-image-format)) );
      
    } 
    $concept_image_height: var(--concept-image-height);
    
/*UNUSED*/
    $dark_green: #718c69ff;
    $green: #99b75fff;
    $light_green: #dddfa5ff;